* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

/* 768px보다 크고 1440px보다 작은 화면에서 적용되는 스타일 for Desktop */
@media screen and (min-width: 768px) and (max-width: 1440px) {
    .root-page-container__content {
        max-width: 1200px;
    }
    .header {
        min-width: 768px;
    }
    .root-page-container__right {
        max-width: 300px;
    }
}

/* 401px보다 크고 767px보다 작은 화면에서 적용되는 스타일 for 425px L */
@media screen and (min-width: 401px) and (max-width: 767px) {
    .root-page-container__content {
        max-width: 425px;
    }
    .header {
        min-width: 425px;
    }
    .root-page-container__right {
        display: none;
    }
}

/* 371px보다 크고 400px보다 작은 화면에서 적용되는 스타일 for 375px M */
@media screen and (min-width: 371px) and (max-width: 400px) {
    .root-page-container__content {
        max-width: 375px;
    }
    .header {
        min-width: 375px;
    }
    .root-page-container__right {
        display: none;
    }
}

/* 더 작은 화면에서만 적용되는 스타일 for 320px S */
@media screen and (max-width: 370px) {
    .root-page-container__content {
        max-width: 320px;
    }
    .header {
        min-width: 320px;
    }
    .root-page-container__right {
        display: none;
    }
}

.root {
    width: 100%;
    height: 4000px;
    display: flex;
    flex-direction: column;
    background-color: #e3f2fd;
}

.header {
    width: 100%;
    top: 0;
    padding-bottom: 1px;
}

.my-group-a .header__inner {
    width: 100%;
    min-width: 320px;
    padding: 0 20px;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #1976d2;
}

.my-group-a .root-page-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: padding-right, padding-left 0.3s ease;
    margin: 0 auto;
}

.my-group-a .root-page-container__left {
    flex: 1;
    max-width: 900px;
    min-width: 320px;
}

.my-group-a .root-page-container__content {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 1200px;
    padding: 0 0;
    height: 4000px;
}

.my-group-a .fan-page-header {
    margin-bottom: 0;
    height: 56px;
}

.fan-post-list__body {
    position: relative;
}

.my-group-a .fan-post-list .fan-post-card-wrapper {
    margin-bottom: 0;
    border-bottom: 1px gray solid;
    padding: 20px;
    background-color: #bbdefb;
    border-radius: 16px;
}

.fan-post-list .fan-post-card {
    outline: 2px solid blue;
}

.fan-post-list .fan-post-card:last-child {
    margin-bottom: 0;
}

.my-group-a .fan-post-card__header {
    display: flex;
    position: relative;
}

.my-group-a .fan-post-card__link {
    display: block;
}

.my-group-a .fan-post-card__topic {
    margin-top: 8px;
}

.my-group-a .fan-post-card__highlight {
    margin-top: 8px;
}

.my-group-a .fan-post-card__footer {
    margin-top: 16px;
    display: flex;
}

.fan-side-section__wrap {
    height: 4000px;
    padding: 20px;
    width: 300px;
}

.side-footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header__right {
    display: flex;
}

.fan-switch-tap__main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.fan-switch-tap__item {
    margin-right: 20px;
}

.fan-page-header-block {
    background-color: #64b5f6;
}