<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/post-list.css" />
    <title>Document</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
  </head>
  <body>
    <div id="__layout">
      <div class="root my-group-a">
        <!--root-header-->
        <div class="header">
          <div class="header__wrp">
            <div class="header__inner">
              <div class="header__left">Nefandesu</div>
              <div class="header__main">검색창</div>
              <div class="header__right">
                <div class="header__item">글쓰기</div>
                <div class="header__item">프로필</div>
              </div>
            </div>
          </div>
        </div>
        <!--root-page-container-->
        <div class="root-page-container">
          <div class="root-page-container__content">
            <div class="root-page-container__left">
              <div class="fan-main-page fan-layout__main">
                <div
                  class="fan-page-header fan-page-header-md fan-page-header-block"
                >
                  <div class="fan-switch-tap__main">
                    <div class="fan-switch-tap__item"><p>추천</p></div>
                    <div class="fan-switch-tap__item"><p>이벤트</p></div>
                    <div class="fan-switch-tap__item"><p>전체</p></div>
                  </div>
                </div>
                <div class="fan-skeleton">
                  <!--fan-skeleton-->
                  <div class="fan-home-container">
                    <div class="fan-post-list">
                      <!--relative-->
                      <div class="fan-post-list__body">
                        <!--card-wrapper-->
                        <!--card-wrapper-->
                        <div class="fan-post-card-wrapper">
                          <!--card-body-->
                          <div class="fan-post-card">
                            <div class="fan-post-card__header">:: 제목 ::</div>
                            <div class="fan-post-card__link">:: 본문 ::</div>
                            <div class="fan-post-card__topic">#태그</div>
                            <div class="fan-post-card__highlight"></div>
                            <div class="fan-post-card__footer">추가정보</div>
                          </div>
                          <!---->
                          <!--card-body-->
                          <div class="fan-post-card">
                            <div class="fan-post-card__header">:: 제목 ::</div>
                            <div class="fan-post-card__link">:: 본문 ::</div>
                            <div class="fan-post-card__topic">#태그</div>
                            <div class="fan-post-card__highlight"></div>
                            <div class="fan-post-card__footer">추가정보</div>
                          </div>
                          <!---->
                          <!--card-body-->
                          <div class="fan-post-card">
                            <div class="fan-post-card__header">:: 제목 ::</div>
                            <div class="fan-post-card__link">:: 본문 ::</div>
                            <div class="fan-post-card__topic">#태그</div>
                            <div class="fan-post-card__highlight"></div>
                            <div class="fan-post-card__footer">추가정보</div>
                          </div>
                          <!---->
                        </div>
                        <!---->
                        <!---->
                      </div>
                      <!---->
                      <div class="fan-post-list__footer"></div>
                    </div>
                  </div>
                  <!---->
                </div>
              </div>
            </div>
            <div class="root-page-container__right">
              <div class="fan-layout__sub">
                <div class="fan-side-section__wrap">
                  <div class="fan-side-section side-skeleton__right">
                    <!--side-menu-->
                    <div class="side-skeleton__item">"로그인 하세요!"</div>
                    <div class="side-skeleton__item">
                      "게시물을 작성해보세요!"
                    </div>
                    <div class="side-skeleton__item">"추천 태그를 보세요!"</div>
                    <!---->
                    <!--footer-->
                    <div class="side-footer">
                      <div class="footer__body">
                        <div class="footer__item">커뮤니티 이용약관</div>
                        <div class="footer__item">Content Creators</div>
                      </div>
                      <div class="footer__bottom">
                        <div class="footer__copyright">
                          <p>Made by @rakaso598</p>
                        </div>
                      </div>
                    </div>
                    <!---->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>
  </body>
</html>
