<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/post-list.css">
        <title>Document</title>
    </head>
    <body>
        <div class="__layout">
            <div class="root my-group-a">
                <!--root-header-->
                <div class="header">
                    <div class="header__wrp">
                        <div class="header__inner">
                            <div class="header__left">헤더왼쪽</div>
                            <div class="header__main">헤더메인</div>
                            <div class="header__right">헤더오른쪽</div>
                        </div>
                    </div>
                </div>
                <!--root-page-container-->
                <div class="root-page-container">
                    <div class="root-page-container__content">
                        <div class="root-page-container__left">left-container
                            <div class="fan-main-page fan-layout__main">
                                <div
                                    class="fan-page-header fan-page-header-md fan-page-header-block">본문헤더</div>
                                <div class="fan-skeleton">본문뼈대
                                    <!--fan-skeleton-->
                                    <div class="fan-home-container">
                                        <div class="fan-post-list">
                                            <!--relative-->
                                            <div class="fan-post-list__body">
                                                <!--card-wrapper-->
                                                <!--card-wrapper-->
                                                <div
                                                    class="fan-post-card-wrapper">
                                                    <div class="fan-post-card">
                                                        <!--card-body-->
                                                        <div
                                                            class="fan-post-card__header">카드헤더</div>
                                                        <div
                                                            class="fan-post-card__link">카드링크</div>
                                                        <div
                                                            class="fan-post-card__topic">카드태그</div>
                                                        <div
                                                            class="fan-post-card__highlight">----</div>
                                                        <div
                                                            class="fan-post-card__footer">카드푸터</div>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <!---->
                                                <!---->
                                            </div>
                                            <!---->
                                            <div
                                                class="fan-post-list__footer"></div>
                                        </div>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <div
                            class="root-page-container__right">right-container</div>
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </body>
</html>