<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/post-list.css">
        <title>Document</title>
    </head>
    <body>
        <div class="__layout">
            <div class="root my-group-a">
                <div class="header">
                    <div class="header__wrp">
                        <div class="header__inner">
                            <div class="header__left">헤더왼쪽</div>
                            <div class="header__main">헤더메인</div>
                            <div class="header__right">헤더오른쪽</div>
                        </div>
                    </div>
                </div>
                <div class="root-page-container">
                    <div class="root-page-container__content">
                        <div class="root-page-container__left">left
                            <div class="home-container">
                                <div class="post-list">
                                    <div class="post-list__body">
                                        <div class="post-card-wrapper">
                                            <div class="post-card">
                                                <div
                                                    class="post-card__header"></div>
                                                <div
                                                    class="post-card__link"></div>
                                                <div
                                                    class="post-card__topic"></div>
                                                <div
                                                    class="post-card__highlight"></div>
                                                <div
                                                    class="post-card__footer"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-list__footer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="root-page-container__right">right</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>